<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Severn Trent Network Trace</title>
    <link rel='stylesheet' type='text/css' href='/assets/css/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='/assets/css/style.css' />
  </head>
  <body>
    <div class="navbar">
      <nav class="container-fluid">
        <a class="col-xs-12 col-sm-3" href='/'>
          <img src="/assets/img/logo.png" alt="Severn|Trent Logo" />
        </a>
      </nav>
    </div>
    <div id='content' class='no-pad container-fluid'>
      <div id='sidebar' class='no-pad col-xs-2 col-sm-3'>
        <a class='col-xs-12' href='/admin'>
          Home
        </a>
      </div>
      <div class="col-xs-10 col-sm-9">
        <div class='col-xs-10 col-cs-offset-1'>
          <img src="/assets/img/uk.svg" alt='UK as an SVG'>
        </div>
      </div>
    </div>
  </body>
</html>
