<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Severn Trent Network Trace</title>
    <link rel='stylesheet' type='text/css' href='/assets/css/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='/assets/css/style.css' />
  </head>
  <body>
    <div class="navbar">
      <nav class="container-fluid">
        <a class="col-xs-12 col-sm-3" href='/'>
          <img src="/assets/img/logo.png" alt="Severn|Trent Logo" />
        </a>
      </nav>
    </div>
  </body>
</html>
